@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}

body{
    height: 100vh;
    background: #14171d;

}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 50px;
}

.navbar h2{
    color: #F5DEB3;
    font-weight: 600;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    color: #FFF8DC;
    font-size: 16px;
    margin-right: 25px;
    transition: color 0.3s ease;
}

.navbar ul li:hover a {
    color: #ffefb1;
}

.navbar ul li:last-child a{
    margin: 0;
}

.hireButton{
    background: #FFDEAD;
    color: #3d2809;
    padding: 5px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.5s ease;
}

.hireButton:hover{
    color: #c58b54;
}

.main{
    height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main h4{
    font-size: 32px;
    color: #ffefb1;
}

.main h4 span{
    color: #FFDEAD;
    text-decoration: underline;

}

.main p.title{
    font-size: 40px;
    font-weight: 600;
    color: #FFDEAD;
    margin-top: 8px;
}

.main p.subtitle{
    font-size: 16px;
    font-weight: 600;
    color: #FFDEAD;
    margin-top: 8px;
}
.main img{
    width: 100px;
    height: 100px;
    margin-top: 50px;
}

.guarantee{
    margin-top: 50px;
    padding: 0 50px;
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
}

.guarantee .experienceBox{
    background: #14171d;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 100%;
    border-radius: 20px;
    padding: 0 30;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

.guarantee .experienceBox:hover{
    border-color: #ffefb1;
}

.guarantee .experienceBox .icon{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.guarantee .experienceBox .icon .i{
    font-size: 30px;
}

.guarantee .experienceBox .info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guarantee .experienceBox .info h3{
    color: #ffefb1;
    font-size: 28px;
}

.guarantee .experienceBox .info p{
    color: #ffefb1;
    font-size: 15px;
    font-weight: 600;
}

.guarantee .experienceBox i{
    color: #ffefb1;
    font-size: 30px;
    transition: color 0.3s ease;
}

.seperator{
    margin: 50px 50px 30px;
    padding: 10px;
    background: rgba(248, 206, 143, 0.08);
    display: inline-block;
    color: #F5DEB3;
    border-radius: 12px;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    padding: 0 50px;
}

.about img{
    width: 280px;
    border-radius: 50px;
}

.about .info h3{
    color: white;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .info p{
    color: whitesmoke;
    font-size: 14px;
}

.about .info .hireButton{
    margin-top: 30px;
}

.skills{
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
}

.skills .left{
    width: 680px;
}

.skills .left .info h3{
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}

.skills .left .info p{
    color: whitesmoke;
    font-size: 14px;
}

.skills .left .hireButton{
    margin-top:30px;
    
}

.skills .right{
    width: 420px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.skills .right .item{
    display: flex;
    background:rgba(248, 206, 143, 0.08);
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.skills .right .item i{
    font-size: 48px;
    color:#FFF8DC;
}

footer{
    position: relative;
    background-color: #090a0e;
    padding: 80px 50px 40px;
    margin-top: 100px;
}

footer .start{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    background-color: #FFDEAD;
    padding: 30px 25px;
    border-radius: 15px;
    width: 70%;
    top: -16%;
    left: 15%;
}

footer .start p{
    font-size: 13px;
    width: 35%;
}

footer .start button{
    background: transparent;
    border: 1px solid#090a0e;
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 100px;
    transition: all 0.5s ease;
}

footer .start button:hover{
    background-color: #FFF8DC;
    border-color: #FFF8DC;
    
}

footer .cols{
    display: flex;
    align-items: start;
}

footer .cols .about-col{
    flex: 3;
}

footer .cols .about-col h3{
    color: #FFDEAD;
     margin-bottom: 20px;
}

footer .cols .about-col p{
    color: whitesmoke;
    font-size: 13px;
}

footer .cols .links-col{
    flex: 3;
}

footer .cols .links-col h4{
    color: whitesmoke;
    margin-bottom: 20px;
}

footer .cols .links-col a{
    display: block;
    text-decoration:  none;
    color: #717f9c;
    font-size: 14px;
    line-height: 26px;
}

footer .cols .links-col a:hover{
    color: #c58b54;
}

footer .cols .contact-col{
    flex: 3;
}

footer .cols .contact-col h4{
    color: whitesmoke;
    margin-bottom: 20px;
}

footer .cols .contact-col p{
    display: block;
    text-decoration: none;
    color:#717f9c;
    font-size: 14px;
    line-height: 26px;
}

@media screen and (max-width: 1000px)
{
    .guarantee{
        flex-wrap: wrap;
        gap: 10px;
    }

    .guarantee .item{
        flex-basis: 49%;
    }

    .skills{
        justify-content: space-between;
        gap: 20px;
    }

    .skills .left{
        width: 500px;
    }

    .skills .left .info h3{
        font-size: 22px;
    }

    .skills .left .info p{
        font-size: 12px;
    }

    footer{
        margin-top: 150px;
    }

    footer .start{
        width: 90%;
        left: 5%;
        top: -20%;
    }

    footer .cols{
        flex-wrap: wrap;
    }
}
    

@media screen and (max-width: 780px) {
    .navbar button{
        display: none;
        }

    .main h4{
        font-size: 24px;
    }

    .main p.title{
        font-size: 36px;
    }

    .main p.subtitle{
        font-size: 14px;
    }

    .guarantee .item{
        flex-basis: 100%;
    }

    .about{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 645px){
    .navbar{
        justify-content: center;
    }

    .navbar h2{
        display: none;
    }

    .navbar ul li a{
        font-size: 14px;
    }

    .main{
        margin-top: 50px;
        height: 320px;
        justify-content: start;
    }

    .main h4{
        font-size: 20px;
    }

    .main p.title{
        font-size: 28px;
    }

    .main p.subtitle{
        font-size: 10px;
        
    }

    .main img{
        margin-top: 40px;
        width: 150px;
        height: 150px;
    }

    .skills{
        flex-wrap: wrap;
        justify-content: center;
    }

    .skills .right{
        justify-content: space-between;
    }

    .skills .left .info h3{
        font-size: 20px;
    }

    footer .start{
        top: -8%;
    }

    footer .start p{
        display: none;
    }

    footer .cols .about-col{
        flex-basis: 50%;
        margin-bottom: 40px;
    }

    footer .cols .links-col{
        flex-basis: 50%;
        margin-bottom: 20px;
    }

    footer .cols .contact-col{
        flex-basis: 50%;
    }
}

@media screen and (max-width: 645px){
    footer .cols .about-col{
        flex-basis: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    footer .cols .links-col{
        flex-basis: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    footer .cols .contact-col{
        flex-basis: 100%;
        text-align: center;
    }
}